<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Plugger Livechat</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <a href='/'><h3><b><img src="/assets/icon.png"> Plugger</b> Livechat</h3></a>
        <div class="text-wraper">
            Plugger Livechat is an anonymous free realtime chat app to contact with people all over the web. <br><br>
            Plugger doesn't store any message ever sent in this app to any sort of database. <br><br> 
            That's why it's called anonymous; 
            You don't have to be logged in or registered to use our services. Just type the username you want to use (lasts for only one session) and start chatting. <br><br>
            Plugger is open-source and you can find it @ <a href="http://github.com/billvog/plugger-livechat" target="_blank" rel="noopener noreferrer">github.com</a>
            
            <br>
            <button class="btn" style="margin-top:15px" title="Go back home" 
            onclick="window.location='/'">
                Back
            </button>
        </div>
    </div>
    <script> </script>
</body>
</html>