<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Plugger Livechat</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <a href='/'><h3><b><img src="/assets/icon.png"> Plugger</b> Livechat</h3></a>
        <p>Plugger is a free anonymous chat platform. It requires not logging in to some sort of account.</p>
        <h1>IT'S FUCKING FREE GOT DAMN' IT! USE IT!</h1>
    </div>
</body>
</html>