.chat-container {
    width: 500px;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 3px solid rgb(76, 88, 252);
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% - (500px / 2));
    transform: translateY(-50%);
}

.chat-container .leave-room {
    padding: 7px 9px;
    color: #4c58fc;
    font-size: 10pt;
    float: left;
}

.chat-container .leave-room #leave-room-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6872fd;
    color: whitesmoke;
    padding: 4px 7px;
    outline: 0;
    transition: .1s;
}

.chat-container .leave-room #leave-room-btn:hover {
    background-color: hsl(236, 97%, 68%);
}

.chat-container .room-info {
    padding: 7px 9px;
    color: whitesmoke;
    font-size: 9pt;
    text-align: right;
    background-color: #4a56fc;
    user-select: none;
    -moz-user-select: none;
}

.chat-container .room-info .user-count .connected-users-count {
    font-weight: bold;
}

.chat-container .room-info .user-name .connected-username {
    font-weight: bold;
    user-select: text;
    -moz-user-select: text;
}

.chat-container .room-info .copy-room-id button {
    border-radius: 30px;
    border: 0;
    background-color: hsl(236, 97%, 68%);
    color: white;
    text-align: center;
    font-size: 9pt;
    padding: 3px 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.chat-container .room-info .copy-room-id button .fas {
    margin-left: 2px;
}

.chat-container .messages {
    margin: 8px 10px;
    overflow: auto;
    max-height: calc(100% - 55px - 72px);
}

.chat-container .messages .message-wraper {
    margin-bottom: 10px;
    transition: .15s;
    user-select: none;
    -moz-user-select: none;
}

.chat-container .messages .message-wraper .message .top-wraper .time {
    color: white;
    font-weight: 300;
}

.chat-container .messages .message-wraper .message .top-wraper .from {
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    background-color: hsl(236, 97%, 68%);
    padding: 2px 9px;
    margin-right: 3px;
    display: inline-block;
    user-select: text;
    -moz-user-select: text;
}

.chat-container .messages .message-wraper.mine .message .top-wraper .from {
    background-color: white;
    color: hsl(236, 97%, 68%);
}

.chat-container .messages .message-wraper .message.alert .top-wraper .from {
    color: white;
}

.chat-container .messages .message-wraper .message.alert .top-wraper .time {
    color: #4a56fc;
}

.chat-container .messages .message-wraper .message .content {
    display: block;
    margin: 3px 3px 0 3px;
    user-select: text;
    -moz-user-select: text;
}

.chat-container .messages .message-wraper .message {
    border: 3px solid hsl(236, 97%, 70%);
    border-radius: 5px;
    background-color: rgb(76, 88, 252);
    color: white;
    padding: 4px;
    font-size: 10pt;
}

.chat-container .messages .message-wraper .message a,
.chat-container .messages .message-wraper .message a:visited {
    color: white;
    text-decoration: underline;
}

.chat-container .messages .message-wraper .message.alert {
    background-color: whitesmoke;
    color: rgb(76, 88, 252);
}

.chat-container .message-input {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    margin: 8px 8px;
    display: flex;
}

.chat-container .message-input #message-input {
    font-family: inherit;
    font-weight: 500;
    font-size: 9pt;
    color: dimgray;
    width: calc(100% - 80px - 24px);
    height: 20px;
    float: left;
    padding: 3px 12px;
    border-radius: 30px 0 0 30px;
    border: 2px solid rgb(76, 88, 252);
    outline: none;
}

.chat-container .message-input #message-send {
    width: 80px;
    height: 30px;
    float: right;
    padding: 3px 0;
    border-radius: 0 30px 30px 0;
    border: 0;
    background-color: rgb(76, 88, 252);
    color: white;
    cursor: pointer;
    outline: none;
    transition: .1s;
}

.chat-container .message-input #message-send:hover {
    background-color: hsl(236, 97%, 68%);
}

.chat-container .message-input #message-send:active {
    background-color: hsl(236, 97%, 70%);
}

@media only screen and (max-width: 600px), (max-height: 700px) {
    .chat-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: 0;
        top: 0;
        left: 0;
        transform: none;
    }

    .chat-container .message-input #message-input {
        height: 25px;
    }

    .chat-container .message-input #message-send {
        height: 35px;
    }
}