.container {
    height: fit-content;
    height: -moz-fit-content;
}

.container h3 {
    font-size: 20pt;
    font-weight: 300;
    color: rgb(76, 88, 252);
    margin: 12px;
    user-select: none;
    -moz-user-select: none;
}

.container h3 img {
    width: 32px;
    margin-right: 5px;
    transform: translateY(7.5px);
}

.container .text-wraper {
    font-size: 11pt;
    margin: 15px;
    color: grey;
}

.container .text-wraper .header {
    font-size: 13pt;
    margin-bottom: 5px;
    display: block;
}

.container p#moreInfo {
    font-size: 9pt;
    color: grey;
    padding: 12px;
    margin: 0;
}

.form-container {
    padding: 12px;
    padding-top: 0;
}

.form-container .form-title {
    font-size: 16pt;
    margin: 0;
    text-align: center;
    color:rgb(76, 88, 252);
}

.form-container form label {
    font-size: 11pt;
    color: grey;
}