.message-wraper:first-child {
    margin-top: 15px;
}

.message-wraper:last-child {
    margin-bottom: 5px;
}

.message-wraper {
    font-size: 11pt;
    margin-top: 8px;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
}

.message-wraper.success {
    background-color: hsl(134, 41%, 88%);
    color: #155724;
    border: 1px solid hsl(134, 46%, 78%);
}

.message-wraper.error {
    background-color: hsl(355, 70%, 91%);
    color: #721c24;
    border: 1px solid hsl(355, 75%, 81%);
}

.message-wraper div {
    display: inline-block;
}

.message-wraper .message {
    width: calc(100% - 24px);
    padding: 2px;
}

.message-wraper .close-btn {
    width: 16px;
    padding: 2px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: .15s;
    position: fixed;
}

.message-wraper .close-btn:hover {
    opacity: .5;
}