<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error - Plugger Livechat</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <a href='/'><h3><b><img src="/assets/icon.png"> Plugger</b> Livechat</h3></a>
        <div class="text-wraper">
            <span class="header">
                Error 404 - Not Found
            </span>
            This page doesn't exist. You've been redirected somewhere safe.
            <br>
            <button class="btn" style="margin-top:15px" title="Go back home" 
            onclick="window.history.go(-1)">
                Back
            </button>
        </div>
    </div>
</body>
</html>